# Python
backend/venv/
backend/__pycache__/
backend/app/__pycache__/
backend/app/**/__pycache__/
backend/*.pyc
backend/uploads/
backend/.env

# Node
frontend/node_modules/
frontend/dist/
frontend/.env

# OS
.DS_Store
*.log
